<body>
  <h1>Editing Book</h1>
  <!--form_withヘルパー-->
  <%= form_with model: @book, url: update_list_path(@book.id), method: :patch do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>

    <p>Body</p>
    <%= f.text_area :body %>

    <%= f.submit 'Update Book' %>
  <% end %>
  <!--リンク-->
   <%= link_to 'show' %>
  <%= link_to 'Back', '/books' %>

</body>