<body>

  <div class="flash-notifications">
    <% flash.each do |key, value| %>
     <%= content_tag(:div, value, class: key) %>
    <% end %>
  </div>

  <P>
    <strong>Title:</strong>
    <%= @book.title %>
  </P>
  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>
  <!--リンク-->
  <%= link_to 'Edit', edit_book_path %>
  |
  <%= link_to 'Back', '/books' %>
</body>